.cartao-frente {
	display: flex;
	margin: 10px;
}

.flex-container {
	display: flex;
	align-items:center;
	font-weight: bold;
	gap: 200px;
	
	
}

.cartao-verso {
	margin: 10px;
}

.enviar {
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
	background: darkmagenta;
	color: azure;
	font-size: 15px;
	font-weight: bold;
	width: 199px;
}


.mes {
	width: 50px;
}

.ano {
	width: 50px;
	text-align: center;
}


	

